<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="paused" value="false"/>
        <arg name="world_name" value="$(find mascot)/worlds/big_apartment.world"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find mascot)/urdf/test.urdf.xacro'" /> 

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-x -6 -urdf -model robot -param robot_description"/>

    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mascot)/rviz/gazebo.rviz" /> -->
</launch>